<div class="col-xs-12">
  <h1 style ="color:#cc3333;">Edit Book </h1>

<%= simple_form_for :book, url: book_path(@book), method: :patch do |f| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, label:false, input_html: {placeholder: "Title"} %>
  <%= f.input :author %>
  <%= f.input :genre %>
  <%= f.input :image_url %>
  <%= f.input :year_published %>
  <%= f.input :available, as: :boolean %>
  <%= f.submit "Submit".html_safe, class: 'btn btn-lg btn-danger' %>
<% end %>
<br>
<%= link_to 'Back', books_path %>
