<div class="col-12">
  <div class="table-responsive">
    <h1 style="color:#cc3333;">Song Details</h1>
      <table class="table table-hover">

        <tr>
          <th> Title </th>
          <th> Artist </th>
          <th> Length </th>
          <th> Genre </th>
          <th> Year </th>
          <th> Reviews </th>
          <th> Actions </th>
        </tr>


    <tr>
      <td><%= @song.title %></td>
      <td><%= @song.artist_id %></td>
      <td><%= @song.length %></td>
      <td><%= @song.genre %></td>
      <td><%= @song.year %></td>
      <td>
        <%= render @song.reviews %>
        <%= render 'reviews/form' %>
      </td>
      <td>
        <%=link_to 'Show Artist', @song.artist, class: 'btn btn-default btn-xs' %>
        <%=link_to 'Edit Song', edit_song_path(@song), class: 'btn btn-success btn-xs' %>
        <%=link_to 'Delete Song', @song, method: :delete, data: {confirm: "Are you Sure?"}, class: 'btn btn-xs btn-danger' %>
    </td>

    </tr>



  </div>
</div>
