<div class="col-12">
  <div class="table-responsive">
    <h1 style="color:#cc3333;">All Songs</h1>
      <table class="table table-hover">

        <tr>
          <th> Song Title </th>
          <th> Song Artist </th>
          <th> Song length </th>
          <th> Song genre </th>
          <th> Song year </th>
          <th> Song Actions </th>
        </tr>

    <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= song.artist_id %></td>
      <td><%= song.length %></td>
      <td><%= song.genre %></td>
      <td><%= song.year %></td>
      <td>
      <%=link_to 'ARTIST - FIX THIS', song.artist, class: 'btn btn-default btn-lg' %>
      <%=link_to 'Edit Song', edit_song_path(song), class: 'btn btn-success btn-xs' %>
      <%=link_to 'Delete Song', song, method: :delete, data: {confirm: "Are you Sure?"}, class: 'btn btn-xs btn-danger' %>
    </td>

    </tr>


    <% end %>
  </div>
</div>


<div class="well">
  <%= link_to "Add New Song", new_song_path, class: 'btn btn-default' %>
</div>
